In [1]:
!pip install pandas_profiling
!pip install sweetviz

Requirement already satisfied: pandas_profiling in c:\users\bhavya t.n\anaconda3\lib\site-packages (3.1.0)
Requirement already satisfied: scipy>=1.4.1 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from pandas_profiling) (1.7.1)
Requirement already satisfied: matplotlib>=3.2.0 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from pandas_profiling) (3.4.3)
Requirement already satisfied: visions[type_image_path]==0.7.4 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from pandas_profiling) (0.7.4)
Requirement already satisfied: phik>=0.11.1 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from pandas_profiling) (0.12.0)
Requirement already satisfied: requests>=2.24.0 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from pandas_profiling) (2.26.0)
Requirement already satisfied: multimethod>=1.4 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from pandas_profiling) (1.6)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from pandas_profiling) (2.11.3)
Requirement already satisfied: tangled-up-in-unicode==0.1.0 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from pandas_profiling) (0.1.0)
Requirement already satisfied: htmlmin>=0.1.12 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from pandas_profiling) (0.1.12)
Requirement already satisfied: seaborn>=0.10.1 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from pandas_profiling) (0.11.2)
Requirement already satisfied: numpy>=1.16.0 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from pandas_profiling) (1.20.3)
Requirement already satisfied: missingno>=0.4.2 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from pandas_profiling) (0.5.0)
Requirement already satisfied: tqdm>=4.48.2 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from pandas_profiling) (4.62.3)
Requirement already satisfied: joblib~=1.0.1 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from pandas_profiling) (1.0.1)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from pandas_profiling) (1.3.4)
Requirement already satisfied: PyYAML>=5.0.0 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from pandas_profiling) (6.0)
Requirement already satisfied: markupsafe~=2.0.1 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from pandas_profiling) (2.0.1)
Requirement already satisfied: pydantic>=1.8.1 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from pandas_profiling) (1.8.2)
Requirement already satisfied: networkx>=2.4 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas_profiling) (2.6.3)
Requirement already satisfied: attrs>=19.3.0 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas_profiling) (21.2.0)
Requirement already satisfied: Pillow in c:\users\bhavya t.n\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas_profiling) (8.4.0)
Requirement already satisfied: imagehash in c:\users\bhavya t.n\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas_profiling) (4.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (0.10.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (1.3.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (3.0.4)
Requirement already satisfied: six in c:\users\bhavya t.n\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.2.0->pandas_profiling) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas_profiling) (2021.3)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from pydantic>=1.8.1->pandas_profiling) (3.10.0.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from requests>=2.24.0->pandas_profiling) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from requests>=2.24.0->pandas_profiling) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from requests>=2.24.0->pandas_profiling) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from requests>=2.24.0->pandas_profiling) (2021.10.8)
Requirement already satisfied: colorama in c:\users\bhavya t.n\anaconda3\lib\site-packages (from tqdm>=4.48.2->pandas_profiling) (0.4.4)
Requirement already satisfied: PyWavelets in c:\users\bhavya t.n\anaconda3\lib\site-packages (from imagehash->visions[type_image_path]==0.7.4->pandas_profiling) (1.1.1)
Requirement already satisfied: sweetviz in c:\users\bhavya t.n\anaconda3\lib\site-packages (2.1.3)
Requirement already satisfied: importlib-resources>=1.2.0 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from sweetviz) (5.4.0)
Requirement already satisfied: numpy>=1.16.0 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from sweetviz) (1.20.3)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from sweetviz) (2.11.3)
Requirement already satisfied: tqdm>=4.43.0 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from sweetviz) (4.62.3)
Requirement already satisfied: matplotlib>=3.1.3 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from sweetviz) (3.4.3)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from sweetviz) (1.3.4)
Requirement already satisfied: scipy>=1.3.2 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from sweetviz) (1.7.1)
Requirement already satisfied: zipp>=3.1.0 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from importlib-resources>=1.2.0->sweetviz) (3.6.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from jinja2>=2.11.1->sweetviz) (2.0.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (8.4.0)
Requirement already satisfied: cycler>=0.10 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (0.10.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (3.0.4)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (1.3.1)
Requirement already satisfied: six in c:\users\bhavya t.n\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.1.3->sweetviz) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\bhavya t.n\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2021.3)
Requirement already satisfied: colorama in c:\users\bhavya t.n\anaconda3\lib\site-packages (from tqdm>=4.43.0->sweetviz) (0.4.4)

In [2]:
import pandas as pd
import numpy as np
import pandas_profiling as pp
import sweetviz as sv
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data=pd.read_csv("Salary_Data.csv")

In [4]:
data

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [5]:
data.tail(10)

    YearsExperience    Salary
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [6]:
data

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [7]:
data.shape

(30, 2)

In [8]:
data.dtypes

YearsExperience    float64
Salary             float64
dtype: object

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes

In [10]:
data[data.duplicated()].shape

(0, 2)

In [62]:
data

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [11]:
data=data.copy()
type

type

In [12]:
data['YearsExperience']
pd.set_option("display.min_rows",None)
data

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [13]:
data_cleaned=data.drop_duplicates()

In [14]:
data_cleaned.shape

(30, 2)

In [15]:
data_cleaned['Salary'].hist()

In [16]:
data_cleaned.boxplot(column=['Salary'])

In [17]:
data_cleaned['Salary'].describe()

count        30.000000
mean      76003.000000
std       27414.429785
min       37731.000000
25%       56720.750000
50%       65237.000000
75%      100544.750000
max      122391.000000
Name: Salary, dtype: float64

In [18]:
data.describe()

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.313333   76003.000000
std           2.837888   27414.429785
min           1.100000   37731.000000
25%           3.200000   56720.750000
50%           4.700000   65237.000000
75%           7.700000  100544.750000
max          10.500000  122391.000000

In [24]:
data['Salary'].value_counts().plot.bar()

In [25]:
import seaborn as sns
cols = data_cleaned.columns 
colours = ['#000099', '#ffff00'] 
sns.heatmap(data_cleaned[cols].isnull(),
            cmap=sns.color_palette(colours))

In [26]:
data_cleaned[data_cleaned.isnull().any(axis=1)].head()

Empty DataFrame
Columns: [YearsExperience, Salary]
Index: []

In [27]:
data_cleaned.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [28]:
mean = data_cleaned['Salary'].mean()
print(mean)

76003.0

In [29]:
data_cleaned['Salary'] = data_cleaned['Salary'].fillna(mean)

In [31]:
obj_columns=data_cleaned[['Salary']]

In [32]:
data_cleaned

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [206]:
obj_columns=data_cleaned[['Salary']]

In [33]:
obj_columns.isnull().sum()

Salary    0
dtype: int64

In [34]:
obj_columns.shape

(30, 1)

In [35]:
obj_columns=obj_columns.fillna(obj_columns.mode().iloc[0])

In [36]:
obj_columns.isnull().sum()

Salary    0
dtype: int64

In [37]:
data_cleaned

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [38]:
obj_columns.shape

(30, 1)

In [39]:
data_cleaned.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [41]:
data_cleaned['Salary'] = data_cleaned['Salary'].fillna(mean)
data_cleaned

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [42]:
sns.pairplot(data_cleaned)

In [43]:
data_cleaned.corr()

                 YearsExperience    Salary
YearsExperience         1.000000  0.978242
Salary                  0.978242  1.000000

In [44]:
data_cleaned=pd.get_dummies(data,columns=['Salary'])

In [45]:
data_cleaned

,YearsExperience,Salary_37731.0,Salary_39343.0,Salary_39891.0,Salary_43525.0,Salary_46205.0,Salary_54445.0,Salary_55794.0,Salary_56642.0,Salary_56957.0,...,Salary_93940.0,Salary_98273.0,Salary_101302.0,Salary_105582.0,Salary_109431.0,Salary_112635.0,Salary_113812.0,Salary_116969.0,Salary_121872.0,Salary_122391.0
0,1.1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1.3,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1.5,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2.0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2.2,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,2.9,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
6,3.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,3.2,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,3.2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,3.7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,3.9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,4.0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
12,4.0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
13,4.1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,4.5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,4.9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,5.1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,5.3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,5.9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,6.0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
20,6.8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,7.1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
22,7.9,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
23,8.2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
24,8.7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
25,9.0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
26,9.5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
27,9.6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
28,10.3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
29,10.5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [46]:
data_cleaned=data_cleaned.dropna() 
data_cleaned

,YearsExperience,Salary_37731.0,Salary_39343.0,Salary_39891.0,Salary_43525.0,Salary_46205.0,Salary_54445.0,Salary_55794.0,Salary_56642.0,Salary_56957.0,...,Salary_93940.0,Salary_98273.0,Salary_101302.0,Salary_105582.0,Salary_109431.0,Salary_112635.0,Salary_113812.0,Salary_116969.0,Salary_121872.0,Salary_122391.0
0,1.1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1.3,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1.5,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2.0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2.2,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,2.9,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
6,3.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,3.2,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,3.2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,3.7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,3.9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,4.0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
12,4.0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
13,4.1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,4.5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,4.9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,5.1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,5.3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,5.9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,6.0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
20,6.8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,7.1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
22,7.9,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
23,8.2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
24,8.7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
25,9.0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
26,9.5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
27,9.6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
28,10.3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
29,10.5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [47]:
from numpy import set_printoptions
from sklearn.preprocessing import MinMaxScaler

In [48]:
data_cleaned.values

array([[ 1.1,  0. ,  1. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ],
       [ 1.3,  0. ,  0. ,  0. ,  0. ,  1. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ],
       [ 1.5,  1. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ],
       [ 2. ,  0. ,  0. ,  0. ,  1. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ],
       [ 2.2,  0. ,  0. ,  1. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ],
       [ 2.9,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  1. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ],
       [ 3. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  1. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ],
       [ 3.2,  0. ,  0. ,  0. ,  0. ,  0. ,  1. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ],
       [ 3.2,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  1. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ],
       [ 3.7,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         1. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ],
       [ 3.9,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  1. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ],
       [ 4. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  1. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ],
       [ 4. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  1. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ],
       [ 4.1,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  1. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ],
       [ 4.5,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  1. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ],
       [ 4.9,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  1. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ],
       [ 5.1,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  1. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ],
       [ 5.3,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  1. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ],
       [ 5.9,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  1. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ],
       [ 6. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  1. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ],
       [ 6.8,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  1. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ],
       [ 7.1,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         1. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ],
       [ 7.9,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  1. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ],
       [ 8.2,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  1. ,  0. ,  0. ,  0. ],
       [ 8.7,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  1. ,  0. ,  0. ,  0. ,  0. ,  0. ],
       [ 9. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  1. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ],
       [ 9.5,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  1. ,  0. ,  0. ],
       [ 9.6,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  1. ,  0. ,  0. ,  0. ,  0. ],
       [10.3,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  1. ],
       [10.5,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  1. ,  0. ]])

In [49]:
array = data_cleaned.values

scaler = MinMaxScaler(feature_range=(0,1))
rescaledX = scaler.fit_transform(array[:,0:5])

#transformed data
set_printoptions(precision=2)
print(rescaledX[0:5,:])

[[0.   0.   1.   0.   0.  ]
 [0.02 0.   0.   0.   0.  ]
 [0.04 1.   0.   0.   0.  ]
 [0.1  0.   0.   0.   1.  ]
 [0.12 0.   0.   1.   0.  ]]

In [50]:
from sklearn.preprocessing import StandardScaler

In [51]:
array = data_cleaned.values
scaler = StandardScaler().fit(array)
rescaledX = scaler.transform(array)

# summarize transformed data
set_printoptions(precision=2)
print(rescaledX[0:5,:])

[[-1.51 -0.19  5.39 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19
  -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19
  -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19]
 [-1.44 -0.19 -0.19 -0.19 -0.19  5.39 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19
  -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19
  -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19]
 [-1.37  5.39 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19
  -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19
  -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19]
 [-1.19 -0.19 -0.19 -0.19  5.39 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19
  -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19
  -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19]
 [-1.12 -0.19 -0.19  5.39 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19
  -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19
  -0.19 -0.19 -0.19 -0.19 -0.19 -0.19 -0.19]]

In [52]:
sweet_report = sv.analyze(data)
sweet_report.show_html('weather_report.html')

                                             |                                             | [  0%]   00:00 ->…

Report weather_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.